<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="email_template" style="position: absolute;width: 400px;height: 450px;overflow: hidden;">
<svg class="Rectangle_122" style="position: absolute;overflow: visible;width: 400px;height: 450px;left: 0px;top: 0px;">
<rect fill="rgba(255,255,255,1)" stroke="rgba(49,49,49,1)" stroke-width="5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_122" rx="25" ry="25" x="0" y="0" width="400" height="450">
</rect>
</svg>
<table>
<thead>
<tr>
<th>
<img id="LOGO" src="cid:krnak110799" style="position: absolute;width: 131px;height: 32.851px;left: 25px;top: 25px;overflow: visible;">
</th>
<th id="date_inp" style="position: absolute;left: 297px;top: 32px;overflow: visible;width: 92px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 17px;color: rgba(49,49,49,1);">
<span>!{Ddate}</span>
</th>
</tr>
</thead>
<svg class="Rectangle_123" style="position: absolute;overflow: visible;width: 350px;height: 166px;left: 20px;top: 83px;">
<rect fill="rgba(245,245,245,1)" id="Rectangle_123" rx="5" ry="5" x="0" y="0" width="350" height="166">
</rect>
</svg>
<tbody>
<tr>
<td id="Donation" style="position: absolute;left: 35px;top: 93px;overflow: visible;width: 69px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 17px;color: rgba(0,0,0,1);">
<span>Donation</span>
</td>
</tr>
<tr>
<td>
<svg class="Line_12" viewBox="0 0 336 1" style="overflow: visible;position: absolute;width: 336px;height: 1px;left: 32px;top: 122px;transform: matrix(1,0,0,1,0,0);opacity: 0.26;">
<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_12" d="M 0 0 L 336 0">
</path>
</svg>
</td>
</tr>
<tr>
<td id="STATUS" style="position: absolute;left: 32px;top: 129px;overflow: visible;width: 58px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>STATUS</span>
</td>
<td id="_" style="position: absolute;left: 174px;top: 129px;overflow: visible;width: 5px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>:</span>
</td>
<td id="status_inp" style="position: absolute;left: 188px;top: 129px;overflow: visible;width: 25px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>Successful</span>
</td>
</tr>
<tr>
<td>
<svg class="Line_13" viewBox="0 0 336 1" style="overflow: visible;position: absolute;width: 336px;height: 1px;left: 32px;top: 153px;transform: matrix(1,0,0,1,0,0);opacity: 0.26;">
<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_13" d="M 0 0 L 336 0">
</path>
</svg>
</td>
</tr>
<tr>
<td id="UNITS" style="position: absolute;left: 32px;top: 160px;overflow: visible;width: 46px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>UNITS</span>
</td>
<td id="__c" style="position: absolute;left: 174px;top: 160px;overflow: visible;width: 5px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>:</span>
</td>
<td id="units_inp" style="position: absolute;left: 188px;top: 160px;overflow: visible;width: 25px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>!{units}</span>
</td>
</tr>
<tr>
<td>
<svg class="Line_14" viewBox="0 0 336 1" style="overflow: visible;position: absolute;width: 336px;height: 1px;left: 32px;top: 184px;transform: matrix(1,0,0,1,0,0); opacity: 0.26;">
<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_14" d="M 0 0 L 336 0">
</path>
</svg>
</td>
</tr>
<tr>
<td id="TIME" style="position: absolute;left: 32px;top: 191px;overflow: visible;width: 37px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>TIME</span>
</td>
<td id="__da" style="position: absolute;left: 174px;top: 191px;overflow: visible;width: 5px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>:</span>
</td>
<td id="time_inp" style="position: absolute;left: 188px;top: 191px;overflow: visible;width: 25px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>!{Dtime}</span>
</td>
</tr>
<tr>
<td>
<svg class="Line_15" viewBox="0 0 336 1"overflow: visible;position: absolute;width: 336px;height: 1px;left: 32px;top: 215px;transform: matrix(1,0,0,1,0,0);>
<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_15" d="M 0 0 L 336 0">
</path>
</svg>
</td>
</tr
<tr>
<td id="PLACE" style="position: absoluteleft: 188pxtop: 222pxoverflow: visiblewidth: 25pxwhite-space: nowrap;text-align: left;font-family: Arialfont-style: normalfont-weight: normalfont-size: 15pxcolor: rgba(0,0,0,1);">
<span>PLACE</span>
</td>
<td id="__db" style="position: absolute;left: 174px;top: 222px;overflow: visible;width: 5px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>:</span>
</td>
<td id="place_inp" style="position: absolute;left: 188px;top: 222px;overflow: visible;width: 25px;white-space: nowrap;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<span>!{place}</span>
</td>
</tr>
<tr id="Hi_Kiran_A_K__If_you_have_not_" style="position: absolute;left: 20px;top: 294px;overflow: visible;width: 351px;height: 122px;text-align: left;font-family: Arial;font-style: normal;font-weight: normal;font-size: 15px;color: rgba(0,0,0,1);">
<td><br/>!{name}<br/>If you have not made this donation or notice any error please contact us.<br/><br/>Cheers!<br/>Team BLOOD</td>
</tr>
</table>
</div>
</body>
</html>